:root{
    --cinza:#F1F1F5;
    --laranja:#F15000;
    --azul:#3D405B;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--azul);
}

.body-container{
    background-color: white;
    display: flex;
    height: 120em;
    justify-content: center;
    margin: 2.5em 30em;
    border-radius: 20em 20em 0 0;
}

.body-conteudo{
    margin-top: 10em;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.logo{
    border-radius: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:180px;
    width: 180px;
    background-color: var(--cinza);
    margin-bottom: 5em;
}

input{
    all: unset;
    background-color: var(--cinza);
    flex: 1;
    padding-left: 20px;
    border-radius: 8px 60px 0 8px;

}

#botao-comprar{
    background-color: var(--laranja);
    border-radius: 60px;
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container-input-consultar-comprar{
    display: flex;
}

.input-consultar, .container-consultar-carrinho{
    display: flex;
    background-color: var(--laranja);
    height: 70px;
    width: 420px;
    justify-content: space-between;
    margin-right: 10px;
    border-radius: 8px;
}

#botao-consulta,#botao-consulta-carrinho{
    text-align: center;
    font-weight: 600;
    color: white;
    width: 80px;
    line-height:70px;
    padding: 0 20px;
    background-color: var(--laranja);
    cursor: pointer;
    border-radius: 8px;
}



#valor-produto{
    color: var(--azul);
    margin-top: 20px;
    font-weight: 600;
    width: calc(100% - 95px);
    text-align: end;
    padding-right:95px;
}

.container-consultar-carrinho{
    margin-right: 80px;
    margin-top: 20px;
}

#botao-consulta-carrinho{
    width: auto;
}

#valor-total{
    background-color: var(--cinza);
    flex: 1;
    text-align: end;
    padding-right: 20px;
    border-radius: 60px 8px 8px 0;
    line-height:70px;
    color: var(--azul);
    font-weight: 600;
    
}

.container-lista-compras{
    background-color: var(--cinza);
    border-radius: 8px;
    width: calc(100% - 80px);
    display: block;
    margin-top: 20px;
    margin-right: 80px;
}

#conteudo-lista-compras{
    display: flex;
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 10px 20px;
}

.titulo-lista-compras{
    padding: 20px 20px 10px 20px;
    border-bottom: var(--laranja) 1px solid;
    font-weight: 600;
}

.container-valor-total-dinamico{
    padding: 10px 20px;
    border-top: var(--laranja) 1px solid;
    text-align: end;
    font-weight: 600;
}

span{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5px 0;
    border-bottom: rgba(128, 128, 128, 0.275) 1px dotted;
}

